body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: radial-gradient(circle at center, #1a0033 0%, #000000 70%);
  color: white;
  font-family: "Pixelify Sans", sans-serif;
  position: relative;
  /* overflow: hidden; */
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(rgba(160, 32, 240, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(160, 32, 240, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: center;
  z-index: -1;
  mask-image: radial-gradient(circle at center, black 30%, transparent 80%);
  animation: gridMove 20s linear infinite;
}

@keyframes gridMove {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(40px);
  }
}

h1 {
  margin-top: 2rem;
  text-align: center;
  font-size: 50px;
  color: a020f0;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #a020f0,
    0 0 20px #a020f0,
    0 0 40px #a020f0;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  gap: 1rem;
}

form label {
  font-size: 20px;
  font-weight: 800;
  color: magenta;
  text-shadow: 0 0 8px magenta;
}

form input {
  width: 15%;
  border: 2px solid purple;
  border-radius: 10px;
  padding: 0.8rem;
  transition: 0.3s ease;
  background: rgba(20, 0, 20, 0.8);
  font-size: 18px;
  color: white;
}

form button {
  border: 2px solid purple;
  border-radius: 10px;
  padding: 1rem;
  transition: 0.3s ease;
  color: grey;
  margin-top: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
}

form input:focus,
form input:hover {
  border-color: magenta;
  background: rgba(40, 0, 40, 1);
  box-shadow:
    0 0 10px magenta,
    inset 0 0 5px magenta;
  transform: translateY(-2px);
}

form button:hover {
  background: purple;
  color: white;
  border-color: white;
  box-shadow: 0 0 20px purple;
  transform: scale(1.1);
}

.skin-container {
  display: grid;
  grid-template-columns: repeat(5, 64px);
  gap: 20px;
  justify-content: center;
}

.skin-option {
  cursor: pointer;
  position: relative;
}

.skin-option input {
  display: none;
}

.preview {
  width: 64px;
  height: 64px;
  background-position: 0 -192px;
  background-repeat: no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.05);
}

.skin-option:hover .preview {
  border-color: var(--accent-light);
  transform: translateY(-5px);
  background-color: rgba(160, 32, 240, 0.1);
}

.skin-option input:checked + .preview {
  border-color: #ff00ff;
  box-shadow:
    0 0 20px rgba(255, 0, 255, 0.6),
    inset 0 0 10px rgba(255, 0, 255, 0.4);
  background-color: rgba(160, 32, 240, 0.2);
  transform: scale(1.15);
}

.error-msg {
  font-size: 20px;
  color: red;
  font-family: "Orbitron", sans-serif;
}
